:root {
    --container-one: #6943FF;
    --container-two: #1F2937;
    --measure-bg: #273549;
    --border-color: #B295FF;
    --color-one: #FFFFFF;
    --color-two: #3D3D3D;
    --color-three: #CCC1FF;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1920px;
    overflow-x: hidden;
    background-color: #141a23;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.top-container {
    background-color: var(--container-one);
    width: 450px;
    height: 200px;
}

.bottom-container {
    background-color: var(--container-two);
    width: 450px;
    height: 350px;
}